// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#posts {
  $sidebar-width: 300px;
  $send-button-width: 150px;


  display: flex;

  .sidebar-in-post {
    margin-top: 32px;
    width: $sidebar-width;
    position: fixed;
    max-height: calc(100% - 92px);
  }

  .header-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .comment-field-row {
  }

  .posts {
    margin-left: $sidebar-width;
  }
  .head-title {
    margin-left: 1rem;
  }
  .head-desc {
    margin-left: 2rem;
    margin-right: 2rem;
  }
  .to-right-side {
    margin-right: 1rem;
    margin-top: 0.75rem;
  }
  .active-card {
    background-color: #209cee;
  }
  .footer-margins {
    margin-left: 1rem;
    margin-right: 0.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
}
